<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Challenges</title>
</head>
<body>
    {% comment %} we are using tag feature of dtl here,
    {{}} can be used anywhere in the html file 
     <li><a href = "/challenges/{{month}}">{{ month | title }}</a></li>
     url tag has no end tag, for tag has , = endfor{% endcomment %}
   <ul>
    {% for month in months %}
    <li><a href = "{% url 'month-challenge' month %}">{{ month | title }}</a></li>
    {% endfor %}
   </ul>
</body>
</html>